<div class="card p-2 m-2">    
    <% if @data %>
        <p>origines: </p>
        <% @data['personalNames'].each do |name_result| %>
            <%= name_result %>
        <% end %>

    <% elsif @error %>
        <p>Error: <%= @error %></p>
    <% else %>
        <p>No data available.</p>
    <% end %>
    
    <hr>
    <p>
        <h2>
            principal : 
            <%= country_name_and_flag(@data["personalNames"][0]["countryOrigin"]) %>
            <br>
        </h2>

        <h3>
            alternative : 
            <%= country_name_and_flag(@data["personalNames"][0]["countryOriginAlt"]) %>
            <br>
        </h3>        
        
            toutes les origines: 
        <% @data["personalNames"][0]["countriesOriginTop"].each  do |country| %>
            <%= country_name_and_flag(country) %>        
        <% end %>
        

    </p>
</div>
  
