<h1>Home#index</h1>

<%= form_with url: home_index_path, method: :get, local: true do %>
  <div>
    <%= label_tag :name, "Enter a family name:" %>
    <%= text_field_tag :name %>
    <%= submit_tag "Lookup" %>
  </div>
<% end %>

<hr>
<% if @name.present? %>
    <div class="card p-2 m-2">    
        <h2>Nom recherché : <%= @name %></h2>
    </div>

    <%= render 'meaning' %>
    
    <%= render 'namsor' %>



<% end %>
